.litros {
	
	
}
#leche-cantidad{
background-color: red;
background-size: contain;
}
.datos {
	background-color: yellow;
	background-size: contain;
	display: grid;
	grid-template-columns: 50% 50%;
}
#parteinferior {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
}