.padre_inicio {
	display: grid;
	grid-template-rows: 1fr 1fr;
	
}
#leche, #ternero{
    width: 60vh;
	height: 20vw;
    background-repeat: no-repeat;
	background-size: cover;
	 justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
}
#botones {
	display: grid;
	grid-template-columns: 50% 50%;
	justify-content:space-between;
	align-items: center;
	}
