.padre_inicio {
	justify-content: center;
	align-items: center;
}
#leche, #ternero{
    width: 60vh;
	height: 20vw;
    background-repeat: no-repeat;
	background-size: cover;
	 justify-content: center;
	align-items: center;
	text-align: center;
	
	color: white;
}
#botones {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	}
#cerrar button {
   background-color: #3BC37B;
   color: white;
   border-radius: 10%;
   border: none;
 

}	

