
.contenedor{
    height: auto;
    width: 40%;
    background-color: rgb(247, 242, 240);
    
}
#header{
    background-color: red; 
}
#header h5{
text-align: center;
font-size: medium;
font-family: "Poppins" ;
color: rgb(227, 228, 230);
padding-top: 50px;
font-size: 20px;
}
.columna{
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    text-align: center;
    align-items: center;
    display: grid;
     grid-template-columns: 1fr 1fr;
}

.columna label,input{
    
   margin: 2%;
    
}

.footer{
  align-items: center;
  justify-content: center;
  display: flex;
}
.Button{
    font-size: auto;
   

}
 #btn1{
    background-color: seagreen;
    font-family:"Poppins";
    height: 30px;
    font-size: auto;
    color: rgb(227, 228, 230);
    border-radius: 15px 0 15px;
    border-color: white;
    background-size: contain;
     height: 8vh;
    width: 10vw;
    margin: 2%;
}
#btn2{
    background-color: red;
    font-family: "Poppins" ;
    font-size:auto;
    color: rgb(227, 228, 230);
    border-radius: 15px 0 15px;
    border-color: white;
    background-size: contain;
    height: 8vh;
    width: 10vw;
}


