#padre_Auth {
	background-repeat: no-repeat;
	background-size: cover;
	padding: 6%;
}
#acceso {
	background-color: white;
	display: grid;
	grid-template-rows: auto auto auto;
	width: ;
}
#Bienvenido {
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	align-items: center;
    text-align: center;
}
#contenedor {
	
display:grid;
	grid-template-columns: 1fr 1fr;

}
#acceso button {
   background-color: #3BC37B;
   color: white;
   border-radius: 10%;
   border: none;
   margin-left: 40%;
   


}
.btnlogin{
	width: 120px;
	height: 60px;
	font-size: medium;
	
}
input {
	  border: 0;
	  border-bottom: 2px red solid ;
	 /* background-color: red;
	  opacity: 0.4;*/
    
      margin: %;
}
