#padre_Auth {
	background-repeat: no-repeat;
	background-size: cover;
	padding: 6%;
}
#acceso {
	background-color: white;
	display: grid;
	grid-template-rows: auto auto auto;
    justify-content: center;
	align-items: center;
    text-align: center;
}
#Bienvenido {
	color: white;
	display: grid;
	grid-template-rows: 1fr 1fr;
	padding: 10%;
	background-repeat: no-repeat;
	background-size: cover;

}
#contenedor {
	
display:grid;
	grid-template-columns: 1fr 1fr;

}
#acceso button {
   background-color: #3BC37B;
   color: white;
   border-radius: 10%;
   border: none;
   width: 10vw;
   height: 7vh;
   margin-left: 20%;
}
input {
	  border: 0;
	  border-bottom: 2px red solid ;
	 /* background-color: red;
	  opacity: 0.4;*/
    
      margin: 4%;
}


@media screen and (min-width:801px) and (max-width:1025px) {
	

}


@media screen and (min-width:421px) and (max-width:800px) {
 
}
@media screen and (min-width:375px) and (max-width:420px){
	

}
@media screen and (min-width:200px) and (max-width:374px){
	
}